<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn" dir="ltr" class="uk-height-1-1" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Manage Login</title>
        <link rel="shortcut icon" href="images/chouti.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/chouti_48_48.png">
			
        <link   rel="stylesheet" 	   href="/js/uikit/css/uikit.min.css">
		<script type="text/javascript" src="/js/jquery/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/js/uikit/js/uikit.min.js"></script>
    </head>
		
	<body class="uk-height-1-1">
		$body
    </body>

</html>