<link rel="stylesheet" type="text/css" href="/css/gozapPassport.css" />
<link rel="stylesheet" type="text/css" href="/css/setnewpassword.css" />

<script type="text/javascript">
$(document).ready(function(){
	chouti.Init();
	chouti.hidPublishWindow();//隐藏“分享新发现”按钮
});
</script>

<script type="text/javascript">
$(document).ready(function(){
	//当用户登录后才去判断
	if($("#userProNick").length > 0) {
		$("#userProNick").html(chouti.subNickLength($("#userProNick").html(), 5));
	}
})
</script>


<div class="main-content-band">

<div class="main-content">
<div id="content">
	<div class="sv_t">隐私政策</div>
	<div id="pri_cnt">
		<p>Maimaijun尊重用户隐私。本隐私权政策适用于 Maimaijun.com Inc. 及其子公司或联属公司提供的所有产品、品牌、站点和服务（以下统称为 Maimaijun“服务”）。</p>		
		<dl>
			<dt>我们收集的信息及这些信息的用途</dt>
		　　 <dd style="margin-top:-8px">
				<p>Maimaijun目前提供了某些不需要注册帐户和收集隐私即可使用的服务，如买买君热榜、买买君热榜导航。为提供更全面的服务，Maimaijun可能会收集以下类型的信息：</p>
			</dd>
			<dd>
				<div>
					<span class="pri_cntt">您提供的信息 - </span>
					<span>当您注册Maimaijun账号或启动使用Maimaijun旗下某些产品时，我们会要求您提供个人信息（包括但不限于您的姓名、电子邮件地址、生日、信用卡账号、网络支付账号等）。对于这些信息，我们会以加密形式保存在安全的服务器上。我们可能会将您通过自己的帐户提交的信息与其他Maimaijun旗下服务或第三方信息结合，以便为您提供更好的体验并提高我们的服务质量。</span>
				</div>
				<div>
					<span class="pri_cntt">Cookie - </span>
					<span>当您访问Maimaijun旗下某些服务时，我们会将一个或多个 Cookie（包含一个字符串的小文件）发送到您的计算机或可以准确识别您的浏览器的其他设备。Cookie 用来存储用户使用偏好或识别用户，从而帮助我们提高服务质量。 </span>
				</div>
				<div>
					<span class="pri_cntt">日志信息 - </span>
					<span>使用 Maimaijun服务时，我们的服务器会自动记录您的网络请求、IP地址、浏览器类型、浏览器语言、您所发请求的日期和时间以及可识别您的浏览器的一个或多个 Cookie。</span>
				</div>
				<div>
					<span class="pri_cntt">位置数据 - </span>
					<span>Maimaijun某些服务可能会收到有关您的实际位置的信息（比如移动设备发送的 GPS 信号）或者可用于大体定位一个位置的信息（比如手机基站ID）。</span>
				</div>
				<div>
					<span class="pri_cntt">链接 - </span>
					<span>Maimaijun在某些服务中，将探测您的链接历史，从而为您提供更好的服务。</span>
				</div>
				<br>
			</dd>
			<dd>
				<p>Maimaijun对用户个人信息的处理仅出于本隐私权政策和/或特定服务的补充隐私说明所阐述的目的。除上面所列情况外，此类目的还包括：</p>
				<ul>
					<li>提供我们的服务，包括显示自定义内容和广告；</li>
					<li>进行审核、研究和分析以维护、保护和改进我们的服务；  </li>
					<li>确保我们网络的技术机能；</li>
					<li>保护 Maimaijun 或用户的权利或财产；</li>
					<li>开发新服务。</li>
				</ul>
			</dd>
		</dl>
		
		<dl>
			<dt>个人信息的选择</dt>
		　　<dd><p>对于需要注册帐号才能使用的服务，当您注册时我们会要求您提供个人信息。如果我们要将这些信息用于最初收集目的之外的其他用途，我们会事先征得您的同意。</p></dd>
			<dd><p>如果我们提议将个人信息用于本隐私权政策和/或特定服务的隐私说明中未涉及的任何目的，我们会为您提供有效的方式让您选择不将自己的个人信息用于这些目的。仅在事先征得您的同意之后，我们才会收集敏感信息或将敏感信息用于本隐私权政策和/或服务的隐私补充说明未涉及的目的。</p></dd>
			<dd><p>大多数浏览器最初都设置为接受 Cookie，但您也可以将您的浏览器重置为停用所有 Cookie 或在收到 Cookie 时给出提示。不过，如果禁用 Cookie，某些Maimaijun功能和服务可能无法正常运行。</p></dd>
			<dd><p>您可以拒绝向我们的任何服务提交个人信息，在这种情况下，Maimaijun 可能无法向您提供这些服务。</p></dd>
		</dl>
		
		<dl>
			<dt>信息共享</dt>
			<dd>
				<p>Maimaijun 仅在以下这些情况下才与 Maimaijun 以外的其他公司或个人共享个人信息：</p>
				<ul>
					<li>我们已征得您的同意。如果涉及到共享敏感的个人信息，我们需要征得您的同意。</li>
					<li>我们将个人信息提供给我们的子公司、联属公司或其他可信赖的企业或个人，以代表我们处理个人信息。我们要求上述各方同意按照我们的规定、本隐私权政策以及其他任何适用的保密和安全措施来处理这些信息。</li>
				</ul>
			</dd>
			<dd>
				<p>我们相信，查阅、使用、保留或透露这些信息对实现以下目的是非常有必要的：</p>
				<ul>
					<li>(a) 满足任何适用的法律、法规、诉讼程序或强制性政府要求；  </li>
					<li>(b) 执行适用的服务条款，包括对潜在违规行为的调查；</li>
					<li>(c) 检测、预防或解决欺诈、安全或技术问题；或者，  </li>
					<li>(d) 根据法律要求或者许可，保护 Maimaijun 及其用户或公众的权利、财产或安全免遭损害。</li>
				</ul>
			</dd>
			
			<dd><p>如果 Maimaijun 涉及合并、收购或以任何形式出售其部分或全部资产等交易，我们会在这些交易中涉及的所有个人信息进行转让并受另一隐私权政策的约束之前确保它们的机密性并通知您。</p></dd>
		　　 <dd><p>我们可能与第三方共享某些不泄露个人隐私的数据，例如，某款式手机的用户数。这些信息不会泄露您的个人身份。</p></dd>
		</dl>
		
		<dl>
			<dt>信息安全</dt>
			<dd><p>我们会采取适当的安全措施以保护数据免受未经授权的查阅、修改、泄露或销毁。这些措施包括内部审查我们的数据收集、存储以及处理方法和安全措施，以及采取物理安全措施防止对我们存储个人数据的系统进行未授权的查阅。</p></dd>
		　　 <dd><p>我们只允许那些为了运营、开发或提高我们的服务而需要知晓个人信息的 Maimaijun 员工、承包商和代理商查阅这些信息。这些人员均受保密协议的约束。并且如果他们不遵守这些协议，将受到处罚，包括终止合同和刑事诉讼。</p></dd>
		</dl>
		
		<dl>
			<dt>数据完整性</dt>
			<dd><p>Maimaijun 仅为实现收集信息的本来目的并按照本隐私权政策或任何适用的特定服务的隐私说明处理个人信息。我们审查数据的收集、存储和处理方法，以确保我们只收集、存储和处理提供或提高我们的服务所需的或者本隐私权政策允许的个人信息。我们采取合理的措施以确保我们处理的个人信息是准确的、完整的且是最新的，但必要时，我们需要用户来更新或纠正他们的个人信息。</p></dd>
		</dl>
		
		<dl>
			<dt>查阅和更新个人信息</dt>
			<dd><p>您使用 Maimaijun 服务时，我们会尽量让您能查阅您的个人信息。如果这些数据不准确，您可以加以纠正。如果按照法律或从合理的商业目的来看不需要保留这些数据，我们会应您的要求将其删除。我们要求各用户在请求查阅、纠正或删除这些信息之前，首先要确认自己的身份以及所要处理的信息，并且我们可能会拒绝受理以下请求：</p></dd>
		　　<dd>
				<ul>
					<li>无休止地重复请求或系统化请求；</li>
					<li>需要付出过大技术努力的请求；</li>
					<li>危及他人隐私的请求；</li>
					<li>极端不现实的请求（例如，涉及存储在备份磁带上的信息的请求）或者用户请求查阅其无需查阅的信息。</li>
				</ul>
			</dd>
			<dd><p>如果我们提供信息查阅和纠正服务，我们就会免费提供这种服务，除非这样做需要付出的努力过大。我们的某些服务采用其他程序来处理对个人 信息的查阅、纠正或删除。我们会在特定的隐私说明或这些服务的常见问题解答中详细介绍。</p></dd>
		</dl>

		<dl>
			<dt>本隐私政策的修改</dt>
			<dd><p>本隐私政策随时都可能修改。未经您明示同意，我们不会削弱您按照本隐私权政策中所应享有的权利，并且我们预计多数修改都是细微更改。我们会在本页上发布对隐私权政策所做的任何修改。对于重大修改，我们还会提供更为直接的通知（对于某些服务，还会发电子邮件通知隐私权政策的修改内容）。</p></dd>
		</dl>
	</div>
</div>
</div>
	
#parse("/widget/common/footer.vm") 
</div>
