/* CSS Document */
body,
button, input, select, textarea {
	font-family: Tahoma, Verdana,Arial,Helvetica,"\5b8b \4f53",sans-serif;
	font-size:14px;
}
textarea{
	overflow:hidden;
	line-height:1.3;
	border:1px solid #bbd1e9;
}



/* ======================================================== */
/* 头部内容部分 */


#logo{
	display:block;
	background: url(/images/labi-logo-152_32.png) no-repeat;
	_background: none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/image/labi-logo-152_32.png");
	width: 152px;
	height: 32px;
}

/* 中间内容部分 */
#container{
	margin:1em auto;
	text-align:left;
	width:763px;
	height:auto;
	background-color:#FFFFFF;
	font-size:14px;
}
.ju-container{
	padding: 40px 40px 50px;
}
.about_a{
	font-weight: bold;
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
	margin-top:18px;
	border-bottom:1px solid #CCDCEF;
}

.about_b{
	color:#333;
	border-bottom:1px dotted #ccc;
	padding:10px 0 15px 0;
	line-height:1.6;
}

.about_c{
	padding:15px 0 0 0px;
}

.about_imga{
	float:left;
	width:48px;
	height:48px;
	background-image:url(/images/chouti_48_48.png);
	margin-top:3px;
}

.about_imgb{
	float:left;
	width:48px;
	height:48px;
	background:url(/images/gozap-logo_48_48.png) no-repeat 0 0px;
	margin-top:3px;
}

.about_imgc{
	float:left;
	width:48px;
	height:48px;
	background-image:url(/images/mail48.gif);
	margin-top:3px;
}

.about_cont{
	color:#333;
	line-height:1.6;
	margin-left:63px;
	padding:0 0 15px;
}

.about_title{
	font-weight:bold;
	margin-bottom:4px;
}

/* firefox的圆角 */
.round{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
}

/** 每个页面使用的公共div */
#pageDiv {
	position: absolute;
	overflow: auto;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
}

#footer{
	*zoom: 1;
	clear: both;
	text-align:center;
	width:763px;
	height:auto;
	background-color:#FFFFFF;
	margin:15px auto 0;
	padding: 12px 0;
	_padding: 10px 0;
}

.foot_a{
	font-family:Arial;
	color:#333;
	font-size:12px;
}

.foot_b{
	font-size:12px;
	color:#999;
}

.foot_b:hover{
	text-decoration:underline;
}

.foot_c{
	color:#3366cc;
	font-size:12px;
	margin-left:10px;
}

.foot_c:hover{
	color:#fff;
	background-color:#3366cc;
}

.foot_d{
	margin-right: 12px;
	color:#333;
}

.foot_e{
	margin-right:3px;
	vertical-align:-2px;
}

.foot-link{
	margin-bottom: 10px;
}

