/* CSS Document */
/* ======================================================== */
/* 头部内容部分 */
#header{
	margin: 26px auto 15px;
	*margin: 26px auto 10px;
	width: 763px;
	text-align: left;
	height: 34px;
}

.logo{
	display:block;
	background:url(/images/labi-logo-152_32.png) no-repeat;
	_background:none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/images/labi-logo-152_32.png");
	height: 32px;
    width: 152px;
	float: left;
}

.spacer{
	padding: 0 5px;
	color: #4f87c2;
}

.common-link{
	float: right;
    line-height: 1.5;
    margin-right: 1px;
    margin-top: 20px;
}

.common-link a{
	color: #99CCFF;
}

.common-link a:hover{
	text-decoration: underline;
}

.common-link a.account{
	color: #91cefd;
	font-weight: bold;
}

.common-link .hi{
	color: #FFF;
	font-weight: bold;
}

/** arial字体 */
.arial{
	font-family:arial;
}
/*中间内容部分*/

a:focus{
	outline:none;
}
a.rega{
	color:#336699;
}
a.rega:hover{
	text-decoration:underline;
}
#register-container{

	background:#fff;
	height:600px;
	width:764px;
	text-align:left;
	margin:1em auto;
}
.round{
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
}
#register-form{
	margin-top:27px;
	margin-left:15px;
	clear:both;
}
#register-container .content{
	padding:40px 45px 0;
}
.register-title{
	padding-bottom:15px;
	padding-top:28px;
	color:#787878;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
}


/*文本输入框*/
.text{
	height:25px;
	line-height:25px;
	width:178px;
	padding-left:5px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	position:absolute;
	z-index:1;
}
.text-normal{
	border:1px solid #ccc;
	background-color:#fff;
}
.text-error{
	border:1px solid #ff0000;
	background-color:#fff;
}
.text-active{
	border:1px solid #aeaeae;
	background-color:#ffffd5;
}
.text-box{
	float:left;
	position:relative;
	padding:2px;
	width:185px;
	height: 27px;
	overflow:hidden;
}
.text-box-normal{
	background-color:#fff;
}

.text-box-error{
	background-color:#ffa6b8;
}
.text-box-error .coner{
	background-image:url("/images/inputbox_red_3_12.png");
	width:3px;
	height:3px;
	position:absolute;
	overflow:hidden;
}
.text-box-error .top-1eft{
	background-position:0 0;
	left:0px;
	top:0px;
}
.text-box-error .top-right{
	background-position:0 -3px;
	right:0px;
	_right:-1px;
	top:0px;
}
.text-box-error .botm-left{
	background-position:0 -6px;
	left:0px;
	bottom:0px;
	_bottom:-1px;
}
.text-box-error .botm-right{
	background-position:0 -9px;
	right:0px;
	bottom:0px;
	_right:-1px;
	_bottom:-1px;
}
table .td1{
	text-align:left;
	font-size:14px;
	color:#333;
	padding-right:13px;
	padding-top:8px;
	vertical-align:top;
	font-weight:normal;
	
}
table .td2{
	width:185px;
	text-align:left;
	border-collapse:collapse;
	padding-top:8px;
}
table .td3{
	vertical-align:top;
	padding-top:7px;
}
.findUserName-box{
	margin-top:18px;
}

.Domains{
	float:right;
	font-size:12px;
	color:#999;
	padding-top:4px;
}
a.password-safe{
	display:block;
	font-size:12px;
	color:#6699cc;
	background:url("/images/question_16_16.png") 0 4px no-repeat;
	padding-top:4px;
	padding-left:22px;
	padding-bottom:18px;
	overflow:hidden;
}
.height{
	height:16px;
	clear:both;
}
.terms-service{
	margin-top:28px;
	clear:both;
	position:relative;
}
.terms-service .L{
	float:left;
}
.terms-service .R{
	left:245px;
	top:-9px;
	position:absolute;
	
}

.terms-service a{
	color:#3366cc;
}
.terms-service a:hover{
	text-decoration:underline;
}
/*右侧显示的提示信息控件*/
/*蓝色提示控件*/
.tips-bigbox{
	width:245px;
	height:33px;
	position:relative;
	margin-left:10px;
	display:none;
}
.sucess-ico{
	width:16px;
	height:16px;
	margin-left:10px;
	margin-top:7px;
	background:url("/images/common_total_92_552.png") -33px -290px no-repeat;
	display:none;
}
.tips-info{
	display:block;
	padding-left:9px;
	color:#333;
	font-size:12px;
}
.tips-bigbox .blue-corner{
	background:url("/images/promptdialogbox_blue_8_29.png") 0 0 no-repeat;
}
.tips-bigbox .blue-vertical-back{
	background-image:url("/images/promptdialogbox_blue_vertical_3_3.png");
}
.tips-bigbox .blue-cross-back{
	background-image:url("/images/promptdialogbox_blue_cross_3_3.png");
}

/*红色气泡提示*/
.tips-bigbox .red-corner{
	background:url("/images/promptdialogbox_red_8_29.png") 0 0 no-repeat;
}
.tips-bigbox .red-vertical-back{
	background-image:url("/images/promptdialogbox_red_vertical_3_3.png");
}
.tips-bigbox .red-cross-back{
	background-image:url("/images/promptdialogbox_red_cross_3_3.png");
}
.tips-bigbox .tips-smallbox-red{
	border:1px solid #ff8996;
	height:29px;
	line-height:29px;
	margin-left:7px;
	margin-right:3px;
}
/**/
.tips-bigbox .bottom-blue{
	background-position:0 0px;
	background-repeat:repeat-x;
	width:230px;
	height:3px;
	position:absolute;
	left:3px;
	bottom:1px;
	margin-left:8px;
	overflow: hidden;
}
.tips-bigbox .right-blue{
	background-position:0 0px;
	background-repeat:repeat-y;
	width:3px;
	height:27px;
	position:absolute;
	right:1px;
	top:4px;
}
.tips-bigbox .right-blue2{
	height:57px;
}

.tips-bigbox .tips-smallbox-blue{
	border:1px solid #95b0dc;
	height:29px;
	line-height:29px;
	margin-left:7px;
	margin-right:3px;
}
.tips-bigbox .tips-smallbox-blue2{
	border:1px solid #95b0dc;
	height:58px;
	margin-left:7px;
	margin-right:3px;
}
.tips-bigbox .tips-smallbox-blue2 .mar{
	margin-top:9px;
}
.tips-bigbox .password-strong-box{
	margin-left:0px;
	padding-left:0px;
}
#tips_userPassNormal{
	height:62px;
}
#tips_userNameError, #tips_userPassError, #tips_userPassSameError, #tips_userSecretMailError, #tips_verifyCodeError, #tips_termsOfserviceError{
	display:none;
}
.tips-bigbox .arrow{
	width:8px;
	height:13px;
	position:absolute;
	z-index:1;
	background-position:0 -16px;
	background-repeat:no-repeat;
	left:0px;
	top:9px;
}
.tips-bigbox .top-left{
	position:absolute;
	width:3px;
	height:3px;
	background-position:0px 0px;
	left:7px;
	top:0px;
	overflow: hidden;
}
.tips-bigbox .top-right{
	position:absolute;
	width:4px;
	height:4px;
	background-position:0 -3px;
	right:2px;
	top:0px;
	overflow: hidden;
}
.tips-bigbox .bom-left{
	position:absolute;
	width:4px;
	height:4px;
	background-position:0px -7px;
	bottom:2px;
	left:7px;
	overflow: hidden;
}
.tips-bigbox .bom-right{
	position:absolute;
	width:5px;
	height:5px;
	background-position:0px -11px;
	right:1px;
	bottom:1px;
	overflow: hidden;
}
/*注册按钮*/
/*
.sendMail-btn {	
	color:#FFF;
	margin-top:28px;
	display:block;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	clear:both;
	height:31px;
}
.sendMail-btn span{
	height:31px;
	line-height:31px;
	background-image:url("/images/bottom.png");
	display:inline-block;
	float:left;
}
.sendMail-btn .btn-1{
	padding-left:30px;
	background-position:0 -290px;
}

.sendMail-btn .btn-2{	
	background-position:right -290px;
	padding-left:30px;	
	height:31px;
	line-height:31px;
}
.sendMail-btn:hover .btn-1{
	background-position:0 -321px;
	text-decoration:underline;
}
.sendMail-btn:hover .btn-2{
	background-position:right -321px;
}
*/
.sendMail-btn {
color:#FFF;
margin-top:28px;
display:inline-block;
font-size:14px;
font-weight:bold;
cursor:pointer;
height:31px;
line-height:31px;
background:url("/images/bottom.png") 0px -310px no-repeat;
width:178px;
text-align:center;
}
.sendMail-btn:hover {
background-position:0px -343px;
}
.sendMail-btn span{
height:31px;
line-height:31px;
background:url("/images/bottom.png") right -310px no-repeat;
display:block;
padding-right:5px;
position:relative;
right:-5px;
}
.sendMail-btn .btn-2{
padding-left:0px;
}
.sendMail-btn:hover .btn-2{
background-position:right -343px;
}


.loading-ico {
    background: url("/images/loadinfo.gif") no-repeat scroll 0 0 transparent;
    clear: both;
    display: none;
    float: left;
    margin-top: 30px;
    padding-left: 30px;
}
/*步骤导航*/

.circle-bg {
	height:51px;
	background:#EEE;
	position:relative;
	padding-left:7px;
}
.circle-bg p {
	background-image:url(/images/step_33_433.png);
	position:absolute;
	width:33px;
	height:51px;
}
.t-left {
	left:-1px;
	top:0;
	background-position:0 0;
}
.t-right {
	right:-1px;
	top:0;
	background-position:0 -51px;
}
.circle-bg .b-right {
	height:26px;
	right:0;
	bottom:-1px;
	background-position:-11px -25px;
}
.circle-bg .b-left {
	height:26px;
	left:0;
	bottom:-1px;
	background-position:0 -77px;
}
.circle-pic {
	width:33px;
	height:33px;
	float:left;
	background-image:url(/images/step_33_433.png);
	margin-top:9px
}
.circle-title {
	float:left;
	margin:17px 11px auto 6px;
	margin:18px 11px auto 6px\9;
	font-weight:bold;
	font-size:14px;
	color:#787878;
}
.circle-arrow {
	float:left;
	font-weight:bold;
	font-size:14px;
	color:#787878;
	margin-right:11px;
	margin-top:17px;
	margin-top:18px\9;
	*margin-top:14px;
	_margin-top:18px;
}
.first-circle {
	background-position:0 -136px
}
.second-circle {
	background-position:0 -202px;
}
.first-current {
	background-position:0 -102px
}
.second-current {
	background-position:0 -169px;
}

.title-current {
	color:#333;
}

/*重置密码，发送邮件成功页面*/
.sendMail-ico{
	display:block;
	float:left;
	margin-top:0px;
	margin-left:0px;
}
.mail-resetPassword{
	margin-left:8px;
	float:left;
	font-size:14px;
}
.mail-resetPassword span{
	color:#3366CC;
}
.clear{
	clear:both;
	overflow:hidden;
	font-size:0px;
}
.left{
	margin-left:24px;
}
/*找回用户名*/
.td4{
	padding-top:13px;
}
.td4 input{
	margin-right:6px;
	vertical-align:-2px;
	*vertical-align:-3px;
}
#tips_verifyCodeNormal,#tips_verifyCodeError{
	/*
	margin-top:-2px;
	*/
}
#authImg{
	
}
.reset-area{
	width:720px;
	margin:0 auto;
}