/* CSS Document */
/* ======================================================== */
/* 头部内容部分 */
#header{
	margin: 26px auto 15px;
	*margin: 26px auto 10px;
	width: 763px;
	text-align: left;
	height: 34px;
}

.logo{
	display:block;
	background: url(/image/labi-logo-152_32.png) no-repeat;
	_background: none;	
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="/image/labi-logo-152_32.png");
	width: 152px;
	height: 32px;
	float: left;
}

.spacer{
	padding: 0 5px;
	color: #4f87c2;
}

.common-link{
	float: right;
    line-height: 1.5;
    margin-right: 1px;
    margin-top: 20px;
}

.common-link a{
	color: #99CCFF;
}

.common-link a:hover{
	text-decoration: underline;
}

.common-link a.account{
	color: #91cefd;
	font-weight: bold;
}

.common-link .hi{
	color: #FFF;
	font-weight: bold;
}

/** arial字体 */
.arial{
	font-family:arial;
}

a:focus{
	outline:none;
}
a.rega{
	color:#3366CC;
}
a.rega:hover{
	text-decoration:underline;
}
#register-container{

	background:#fff;
	height:600px;
	width:764px;
	text-align:left;
	margin:1em auto;
	overflow:hidden;
}
.round{
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
}
#register-form{
	margin-top:27px;
	margin-left:15px;
	clear:both;
}
#register-container .content{
	padding:40px 45px 0;
}
.register-title{
	/*
	background:url("/images/cent_secant_4_1.gif") repeat-x scroll left bottom #FFFFFF;
	*/
	padding-top:28px;
	padding-bottom:15px;
	color:#787878;
	font-size:14px;
	font-weight:bold;
}
#setNewPassword_title{
	background:url("/images/cent_secant_4_1.gif") repeat-x scroll left bottom;
}
/*文本输入框*/
.text{
	height:25px;
	line-height:25px;
	width:178px;
	padding-left:5px;
	font-size:14px;
	font-weight:bold;
	color:#333;
	position:absolute;
	z-index:1;
}
.text-normal{
	border:1px solid #ccc;
	background-color:#fff;
}
.text-error{
	border:1px solid #ff0000;
	background-color:#fff;
}
.text-active{
	border:1px solid #aeaeae;
	background-color:#ffffd5;
}
.text-box{
	float:left;
	position:relative;
	padding:2px;
	width:185px;
	height: 27px;
	overflow:hidden;
}
.text-box-normal{
	background-color:#fff;
}

.text-box-error{
	background-color:#ffa6b8;
}
.text-box-error .coner{
	background-image:url("/images/inputbox_red_3_12.png");
	width:3px;
	height:3px;
	position:absolute;
	overflow:hidden;
}
.text-box-error .top-1eft{
	background-position:0 0;
	left:0px;
	top:0px;
}
.text-box-error .top-right{
	background-position:0 -3px;
	right:0px;
	_right:-1px;
	top:0px;
}
.text-box-error .botm-left{
	background-position:0 -6px;
	left:0px;
	bottom:0px;
	_bottom:-1px;
}
.text-box-error .botm-right{
	background-position:0 -9px;
	right:0px;
	bottom:0px;
	_right:-1px;
	_bottom:-1px;
}
table .td1{
	text-align:left;
	font-size:14px;
	color:#333;
	padding-right:13px;
	padding-top:8px;
	vertical-align:middle;
	font-weight:normal;
}
table .td2{
	width:185px;
	text-align:left;
	border-collapse:collapse;
	padding-top:8px;
	font-weight:bold;
	vertical-align:top;
}
table .td3{
	vertical-align:top;
	padding-top:8px;
}

.findUserName-box{
	margin-top:20px;
}

.Domains{
	float:right;
	font-size:12px;
	color:#999;
	padding-top:4px;
}
a.password-safe{
	display:block;
	font-size:12px;
	color:#6699cc;
	background:url("/images/question_16_16.png") 0 4px no-repeat;
	padding-top:4px;
	padding-left:22px;
	padding-bottom:18px;
	overflow:hidden;
}
.height{
	height:0px;
	clear:both;
	overflow:hidden;
}
.terms-service{
	margin-top:28px;
	clear:both;
	position:relative;
}
.terms-service .L{
	float:left;
}
.terms-service .R{
	left:245px;
	top:-9px;
	position:absolute;
	
}
.terms-service input{
	margin-right:6px;
	vertical-align:-1px;
}
.terms-service a{
	color:#3366cc;
}
.terms-service a:hover{
	text-decoration:underline;
}
/*右侧显示的提示信息控件*/
/*蓝色提示控件*/
.tips-bigbox{
	width:245px;
	height:33px;
	position:relative;
	margin-left:10px;
	display:none;
}
.sucess-ico{
	width:16px;
	height:16px;
	margin-left:10px;
	margin-top:7px;
	background:url("/images/common_total_92_552.png") -33px -290px no-repeat;
	display:none;
}
.tips-info{
	display:block;
	padding-left:9px;
	color:#333;
	font-size:12px;
}
.tips-bigbox .blue-corner{
	background:url("/images/promptdialogbox_blue_8_29.png") 0 0 no-repeat;
}
.tips-bigbox .blue-vertical-back{
	background-image:url("/images/promptdialogbox_blue_vertical_3_3.png");
}
.tips-bigbox .blue-cross-back{
	background-image:url("/images/promptdialogbox_blue_cross_3_3.png");
}
#passwordStrong,#oldpasswordStrong{
	margin-top:10px;
}
#passwordStrong span.strong-desc, #oldpasswordStrong span.strong-desc{
	margin-right:12px;
}
#passwordStrong b.ruo, #oldpasswordStrong b.ruo{
	color:#ff0000;
	font-size:12px;
	font-weight:normal;
	margin-right:3px;
}
#passwordStrong b.strong, #oldpasswordStrong b.strong{
	color:#6699cc;
	font-size:12px;
	font-weight:normal;
	margin-left:3px;
}
#passwordStrong span.strong-pic, #oldpasswordStrong span.strong-pic{
	display:inline-block;
	border:1px solid #666;
	width:90px;
	height:10px;
	overflow:hidden;
	vertical-align:-2px;
}
/*密码强度*/
/*空白*/
.inside-line{
	float:left;
	height:8px;
	border:1px solid #fff;
}
.whitenull{
	width:88px;
	background-color:#fff;
}
/*红色 弱*/
.redweak{
	width:22px;
	background-color:#ff0000;
}
/*黄色 中等*/
.yellowmid{
	width:44px;
	background-color:#ff9900;
}
/*蓝色 强*/
.bluestrong{
	width:66px;
	background-color:#0099ff;
}
/*绿色 安全*/
.greensafe{
	width:88px;
	background-color:#009933;
}
/*红色气泡提示*/
.tips-bigbox .red-corner{
	background:url("/images/promptdialogbox_red_8_29.png") 0 0 no-repeat;
}
.tips-bigbox .red-vertical-back{
	background-image:url("/images/promptdialogbox_red_vertical_3_3.png");
}
.tips-bigbox .red-cross-back{
	background-image:url("/images/promptdialogbox_red_cross_3_3.png");
}
.tips-bigbox .tips-smallbox-red{
	border:1px solid #ff8996;
	height:29px;
	line-height:29px;
	margin-left:7px;
	margin-right:3px;
}
/**/
.tips-bigbox .bottom-blue{
	background-position:0 0px;
	background-repeat:repeat-x;
	width:230px;
	height:3px;
	position:absolute;
	left:3px;
	bottom:1px;
	margin-left:8px;
	overflow: hidden;
}
.tips-bigbox .right-blue{
	background-position:0 0px;
	background-repeat:repeat-y;
	width:3px;
	height:27px;
	position:absolute;
	right:1px;
	top:4px;
}
.tips-bigbox .right-blue2{
	height:57px;
}

.tips-bigbox .tips-smallbox-blue{
	border:1px solid #95b0dc;
	height:29px;
	line-height:29px;
	margin-left:7px;
	margin-right:3px;
}
.tips-bigbox .tips-smallbox-blue2{
	border:1px solid #95b0dc;
	height:58px;
	margin-left:7px;
	margin-right:3px;
}
.tips-bigbox .tips-smallbox-blue2 .mar{
	margin-top:9px;
}
.tips-bigbox .password-strong-box{
	margin-left:0px;
	padding-left:0px;
}
#tips_userPassNormal, #tips_userOldPassNormal{
	/*
	height:62px;
	*/
	height:33px;
}
#tips_userNameError, #tips_userOldPassError, #tips_userPassError, #tips_userPassSameError, #tips_userSecretMailError, #tips_verifyCodeError, #tips_termsOfserviceError{
	display:none;
}
.tips-bigbox .arrow{
	width:8px;
	height:13px;
	position:absolute;
	z-index:10;
	background-position:0 -16px;
	background-repeat:no-repeat;
	left:0px;
	top:9px;
}
.tips-bigbox .top-left{
	position:absolute;
	width:3px;
	height:3px;
	background-position:0px 0px;
	left:7px;
	top:0px;
	overflow: hidden;
}
.tips-bigbox .top-right{
	position:absolute;
	width:4px;
	height:4px;
	background-position:0 -3px;
	right:2px;
	top:0px;
	overflow: hidden;
}
.tips-bigbox .bom-left{
	position:absolute;
	width:4px;
	height:4px;
	background-position:0px -7px;
	bottom:2px;
	left:7px;
	overflow: hidden;
}
.tips-bigbox .bom-right{
	position:absolute;
	width:5px;
	height:5px;
	background-position:0px -11px;
	right:1px;
	bottom:1px;
	overflow: hidden;
}
/*保存按钮*/
.sendMail-btn {	
	color:#FFF;
	margin-top:28px;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	height:31px;
	line-height:31px;
	background:url("/images/bottom.png") 0px -310px no-repeat;
	padding-left:7px;
	width:178px;
	text-align:center;
}
.sendMail-btn:hover {
	background-position:0px -343px;
}
.sendMail-btn span{
	height:31px;
	line-height:31px;
	background:url("/images/bottom.png") right -310px no-repeat;
	display:block;
	width:171px;
	padding-right:9px;
}
.sendMail-btn .btn-2{
	padding-left:0px;
}
.sendMail-btn:hover .btn-2{
	background-position:right -343px;
}
/*
.sendMail-btn {	
	color:#FFF;
	margin-top:28px;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	cursor:pointer;
	height:31px;
}
.sendMail-btn span{
	height:31px;
	line-height:31px;
	background:url("/images/bottom.png") 0px 0px no-repeat;
	display:inline-block;
	float:left;
}
.sendMail-btn .btn-1{
	padding-left:30px;
	background-position:0 -290px;
}
.sendMail-btn .btn-2{	
	background-position:right -290px;
	padding-left:30px;
}
.sendMail-btn:hover .btn-1{
	background-position:0 -321px;
	text-decoration:underline;
}
.sendMail-btn:hover .btn-2{
	background-position:right -321px;
}

*/



.loading-ico{
	display:none;
	background:url("/images/loadinfo.gif") 0 2px no-repeat;
	padding-left:30px;
	clear:both;
	margin-top:30px;
	float:left;
	font-weight:normal;
}
.tags .w-active a{
	color:#787878;
}
/*重置密码，发送邮件成功页面*/
.sendMail-ico{
	display:block;
	float:left;
	margin-top:0px;
	margin-left:0px;
}
.mail-resetPassword{
	margin-left:8px;
	float:left;
	font-size:14px;
}
.mail-resetPassword span{
	color:#3366CC;
}
.clear{
	clear:both;
	overflow:hidden;
	font-size:0px;
}
.left{
	margin-left:24px;
}
/*找回用户名*/
.td4{
	padding-top:13px;
}
.td4 input{
	margin-right:8px;
	vertical-align:-2px;
}

.username{
	font-size:14px;
	color:#333;
	/*
	padding-top:7px;
	padding-bottom:23px;
	*/
}
.weight{
	font-weight:bold;
}
.height2{
	height:12px;
	clear:both;
	overflow:hidden;
}
table .pad{
	padding-top:0px
}
.position{
	position:absolute;
}
/*设置新密码失效页面*/
.set-newpassword-fail{
	margin:100px auto 0;
	overflow:hidden;
	width:315px;
}
.set-newpassword-fail .fail-title{
	background:url("/images/warning_20_21.png") 0 0 no-repeat;
	padding-left:32px;
	font-size:16px;
	font-weight:bold;
	height:21px;
	line-height:21px;
}
.set-newpassword-fail .time-warn{
	padding-left:32px;
	font-size:14px;
	color:#787878;
	margin-top:10px;
}

.set-newpassword-fail .nav-btn .agin-resetpassword-btn{
	margin-top:0px;
	float:left;
	
}
.set-newpassword-fail .nav-btn{
	margin-top:45px;
	padding-left:32px;
	
}
.set-newpassword-fail .nav-btn a.back-firstpage{
	float:right;
	color:#3366cc;
	font-size:14px;
	margin-top:9px;
	margin-right:8px;
}
.set-newpassword-fail .nav-btn a.back-firstpage:hover{
	float:right;
	text-decoration:underline;
}
#tips_userPassSameError, #tips_userPassSameNormal{
	margin-top:-3px;
}
.top20{
	margin-top:20px;
}
table .padtop20{
	padding-top:28px;
}
/*绑定手机*/
.chg-code{
	font-size:13px;
	color:#99aecb;
	display:inline-block;
}
.chg-code:hover{
	text-decoration:underline;
}
#bindPhoneBtn .btn-1, #bindPhoneBtn .btn-2{
	padding-left:79px;
}
.child-nav span.tt{
	color:#787878;
	font-size:14px;
	font-weight:bold;
	display:inline-block;
}
.child-nav span.tt b{
	display:inline-block;
}
.child-nav .t1{
	background-position:0 -650px;
	width:31px;
	height:31px;
	padding-right:10px;
	
}
.child-nav .t2{
	background:url("/images/Citizens-medal_24.png") no-repeat scroll 0 0 transparent;
	width:24px;
	height:24px;
	padding-right:10px;
	margin-left:35px;
}
.nobottom{
	border-bottom:0px solid #fff;
}
.sendbtn-unvalid{
	background-position:0 -352px;
	cursor:default;
}
#bind_sucess_info{
	vertical-align:10px;
}
.time-out{
	margin-left:10px;
	color:#787878;
	padding-top:8px;
	display:none;
}
.more-tip{
	padding-top:20px;
	padding-left:15px;
	font-size:13px;
}

.more-tip span{
	color:#787878;
	font-weight:bold;
}
#bindPhoneFrm table .td1{
	text-align:right;
	padding-right:18px;
}
#bindPhone_area{
	padding-top:50px;
	text-align:center;
	
}
.show-phoneCode{
	font-weight:bold;
	font-size:14px;
}
.bindBtn-area{
	margin-top:10px;
}
#no_bindPhone_area{
	display:block;
	
}
.bind-t1{
	color:#787878;
	font-weight:bold;
	font-size:15px;
	padding-bottom:15px;
}
.reset-area{
	width:720px;
	margin:0 auto;
}