<script type="text/javascript" src="/js/chouti_nav.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	 //初始化模块
	 NS_links_nav.init({
			subject: "person",	//模块名称(英文)
			type: "publish"
	 });
	 //榜单页面评论初始化	
	 NS_links_comment_top.init();
});
</script>


<div class="main-content-band">


<div class="main-content">
		<div class="content-L">
		#if($!{webUser.getName()}==$!{member.name})
        	<div class="my-name">我的买买君</div>
        #else
        	<div class="my-name">$!{member.nick}的买买君</div>
        #end
			
			<div class="set-tags">	
				#if($!{webUser.hasLogin()} && $!{webUser.getName()}==$!{member.name})	
            	<a href="/user/link/saved" class="tb">私藏</a>
            	#end
            	<a href="/user/$!{member.getName()}/publish" class="tb  w-active">发布</a>
            	<a href="/user/$!{member.getName()}/liked" class="tb">推荐</a>
            	<a href="/user/$!{member.getName()}/comments" class="tb">评论</a>
            	<div class="set-line"></div>    		
            </div>
		        	
			<div class="show-items">共<span>$!{publishCount}</span>条</div>
			<!-- 内容显示区域 -->
			<div class="content-list" id="content-list" style="margin-top:-8px">	
			#foreach($!myItem in $list) 			
				$widget.setTemplate("common/myItem").addParam('mySubject',$!{subject}).addParam('myItem',$!{myItem}).addParam('publishShow',"发布").addParam('myLikedList',$!{myLikedList}).addParam('mySavedList',$!{mySavedList})
			#end
			</div>
			
			<div class="no-bottom"></div>
			<!-- 分页 -->
			$widget.setTemplate("pagination/myPager").addParam('pagination',$!{list.getQuery()})
		</div>
		
		
		<div class="content-R">
			<!-- 如果用户已经登录,显示个人信息 -->
			#parse("/widget/common/profile.vm")
			
			#parse("/widget/common/topBan.vm")
			
            $widget.setTemplate("common/letter").addParam('othernick',$!{member.nick}).addParam('otherjid',$!{member.name})
		</div>
</div>
	
#parse("/widget/common/footer.vm") 
</div>