<script type="text/javascript">
	var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cspan id='cnzz_stat_icon_1253965409'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1253965409%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
	$('#cnzz_stat_icon_1253965409').attr('style','display:none');
</script>