<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmj.app.biz.mapper.CommentsMapper" >
	<resultMap id="BaseDOResultMap" type="com.mmj.app.biz.domain.BaseDO" >
  		<id 		column="ID" 			property="id" 				jdbcType="DECIMAL" />
    	<result 	column="GMT_CREATE" 	property="gmtCreate" 		jdbcType="TIMESTAMP" />
    	<result 	column="GMT_MODIFIED" 	property="gmtModified" 		jdbcType="TIMESTAMP" />
    	<result 	column="STATUS" 		property="status" 			jdbcType="DECIMAL" />
  	</resultMap>
  	
  	<resultMap id="BaseResultMap" type="com.mmj.app.biz.domain.CommentsDO" extends="BaseDOResultMap">
  		<result 	column="USER_ID" 			property="userId" 			jdbcType="DECIMAL" />
    	<result 	column="PARENT_ID" 			property="parentId" 		jdbcType="DECIMAL" />
    	<result 	column="TOPIC_ID" 			property="topicId" 			jdbcType="DECIMAL" />
    	<result 	column="CONTENT" 			property="content" 			jdbcType="VARCHAR" />
    	<result 	column="DEPTH" 				property="depth" 			jdbcType="DECIMAL" />
    	<result 	column="IS_VOTE" 			property="isVote" 			jdbcType="DECIMAL" />
    	<result 	column="IS_BAN" 			property="isBan" 			jdbcType="DECIMAL" />
    	<result 	column="SCORE" 				property="score" 			jdbcType="DECIMAL" />
    	<result 	column="UPS" 				property="ups" 				jdbcType="DECIMAL" />
    	<result 	column="DOWNS" 				property="downs" 			jdbcType="DECIMAL" />
    	<result 	column="COMMENT_TYPE" 		property="commentType" 		jdbcType="DECIMAL" />
    	<result 	column="CLOSE_IP" 			property="closeIp" 			jdbcType="VARCHAR" />
    	<result 	column="ASSENT_TEXT" 		property="assentText" 		jdbcType="VARCHAR" />
    	<result 	column="COMMENTS_ACTION" 	property="commentsAction" 	jdbcType="DECIMAL" />
    	<result 	column="ITEMS" 				property="items" 			jdbcType="DECIMAL" />
    	
    	<result 	column="NAME" 			    property="name" 			jdbcType="VARCHAR" />
  	</resultMap>
  	
  	<resultMap id="CommentsFullResultMap" type="com.mmj.app.biz.domain.CommentsFullDO" extends="BaseResultMap">
  		<result 	column="TOPIC_STATUS" 		property="topicStatus" 			jdbcType="DECIMAL" />
  		<result 	column="SUBJECT_ID" 		property="subjectId" 		jdbcType="DECIMAL" />
 		<result 	column="TITLE" 				property="title" 			jdbcType="VARCHAR" />
  		<result 	column="CONTENT_SOURCE" 	property="contentSource" 	jdbcType="VARCHAR" />
  		<result 	column="CONTENT_KIND" 	    property="contentKind" 		jdbcType="DECIMAL" />
  		<result 	column="PUBLISH_SOURCE" 	property="publishSource" 	jdbcType="VARCHAR" />
  	</resultMap>
  	
  	<sql id="table_columns_without_id">
  		GMT_CREATE,GMT_MODIFIED,STATUS,
  		USER_ID,PARENT_ID,TOPIC_ID,CONTENT,DEPTH,IS_VOTE,IS_BAN,SCORE,UPS,DOWNS,COMMENT_TYPE,CLOSE_IP,ASSENT_TEXT,COMMENTS_ACTION,ITEMS,NAME
   	</sql>
  
  	<sql id="columns" >
  		ID,<include refid="table_columns_without_id"/>
  	</sql>
  	
  	<sql id="table_name" >
  		comments
  	</sql>
  	
  	<sql id="orderby_clause">
        order by GMT_MODIFIED DESC
    </sql>
    
    <select id="commentsListPagination" resultMap="CommentsFullResultMap" parameterType="com.mmj.app.biz.query.CollectQuery">
		select c.ID,c.GMT_CREATE,c.GMT_MODIFIED,c.STATUS,c.USER_ID,c.PARENT_ID,c.TOPIC_ID,c.CONTENT,c.DEPTH,c.IS_VOTE,c.IS_BAN,
		c.SCORE,c.UPS,c.DOWNS,c.COMMENT_TYPE,c.CLOSE_IP,c.ASSENT_TEXT,c.COMMENTS_ACTION,c.ITEMS,c.NAME,
		t.STATUS as TOPIC_STATUS,t.SUBJECT_ID,t.TITLE,t.CONTENT_SOURCE,t.CONTENT_KIND,t.PUBLISH_SOURCE
		from comments c inner join topic t on(c.TOPIC_ID = t.ID)
		where 1=1
		<if test="t.id !=null ">  
            and c.ID = #{t.id, jdbcType=INTEGER}
        </if> 
        <if test="t.status != null ">  
            and c.STATUS = #{t.status, jdbcType=INTEGER}
        </if> 
        <if test="t.status == null and status != null ">  
            and c.STATUS = #{status, jdbcType=INTEGER}
        </if>
        <if test="startGmtCreate != null and startGmtCreate != '' ">  
            and <![CDATA[ c.GMT_CREATE >= date_format(#{startGmtCreate, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endGmtCreate != null and endGmtCreate != '' ">  
            and <![CDATA[ c.GMT_CREATE <= date_format(#{endGmtCreate, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]> 
        </if>
        <if test="startGmtModified != null and startGmtModified != '' ">  
            and <![CDATA[ c.GMT_MODIFIED >= date_format(#{startGmtModified, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endGmtModified != null and endGmtModified != '' ">  
            and <![CDATA[ c.GMT_MODIFIED <= date_format(#{endGmtModified, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="t.userId != null ">  
            and c.USER_ID = #{t.userId, jdbcType=INTEGER}
        </if> 
        <if test="t.parentId != null ">  
            and c.PARENT_ID = #{t.parentId, jdbcType=INTEGER}
        </if>
        <if test="t.topicId != null ">  
            and c.TOPIC_ID = #{t.topicId, jdbcType=INTEGER}
        </if> 
        <if test="t.depth != null ">  
            and c.DEPTH = #{t.depth, jdbcType=INTEGER}
        </if>
        <if test="t.isVote != null ">  
            and c.IS_VOTE = #{t.isVote, jdbcType=INTEGER}
        </if> 
        <if test="t.isBan != null ">  
            and c.IS_BAN = #{t.isBan, jdbcType=INTEGER}
        </if>
        <if test="t.commentType != null ">  
            and c.COMMENT_TYPE = #{t.commentType, jdbcType=INTEGER}
        </if> 
        <if test="t.commentsAction != null ">  
            and c.COMMENTS_ACTION = #{t.commentsAction, jdbcType=INTEGER}
        </if>
        <if test="t.content !=null and t.content != '' ">
			and c.CONTENT like CONCAT('%',#{t.content, jdbcType=VARCHAR},'%') 
		</if>
		<if test="subjectId != null ">  
            and t.SUBJECT_ID = #{subjectId, jdbcType=INTEGER}
        </if>
        <if test="relationId != null ">  
            and c.ID = #{relationId, jdbcType=INTEGER} or c.PARENT_ID = #{relationId, jdbcType=INTEGER}
        </if>
		
		<if test="sortType !=null and sortType == 'GMT_MODIFIED' ">
			order by c.GMT_MODIFIED DESC
		</if>
        <if test="sortType !=null and sortType == 'GMT_CREATE' ">
			order by c.GMT_CREATE DESC
		</if>
		<if test="sortType !=null and sortType == 'UPS' ">
			order by c.UPS DESC
		</if>
		<include refid="PAGINATION.MYSQL_PAGINATION" />
  	</select>
  	
  	<select id="commentsCount" resultType="java.lang.Integer" parameterType="com.mmj.app.biz.query.CollectQuery">
  		select count(1)
		from comments c inner join topic t on(c.TOPIC_ID = t.ID)
		where 1=1
		<if test="t.id !=null ">  
            and c.ID = #{t.id, jdbcType=INTEGER}
        </if> 
        <if test="t.status != null ">  
            and c.STATUS = #{t.status, jdbcType=INTEGER}
        </if> 
        <if test="t.status == null and status != null ">  
            and c.STATUS = #{status, jdbcType=INTEGER}
        </if>
        <if test="startGmtCreate != null and startGmtCreate != '' ">  
            and <![CDATA[ c.GMT_CREATE >= date_format(#{startGmtCreate, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endGmtCreate != null and endGmtCreate != '' ">  
            and <![CDATA[ c.GMT_CREATE <= date_format(#{endGmtCreate, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]> 
        </if>
        <if test="startGmtModified != null and startGmtModified != '' ">  
            and <![CDATA[ c.GMT_MODIFIED >= date_format(#{startGmtModified, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="endGmtModified != null and endGmtModified != '' ">  
            and <![CDATA[ c.GMT_MODIFIED <= date_format(#{endGmtModified, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]>
        </if>
        <if test="t.userId != null ">  
            and c.USER_ID = #{t.userId, jdbcType=INTEGER}
        </if> 
        <if test="t.parentId != null ">  
            and c.PARENT_ID = #{t.parentId, jdbcType=INTEGER}
        </if>
        <if test="t.topicId != null ">  
            and c.TOPIC_ID = #{t.topicId, jdbcType=INTEGER}
        </if> 
        <if test="t.depth != null ">  
            and c.DEPTH = #{t.depth, jdbcType=INTEGER}
        </if>
        <if test="t.isVote != null ">  
            and c.IS_VOTE = #{t.isVote, jdbcType=INTEGER}
        </if> 
        <if test="t.isBan != null ">  
            and c.IS_BAN = #{t.isBan, jdbcType=INTEGER}
        </if>
        <if test="t.commentType != null ">  
            and c.COMMENT_TYPE = #{t.commentType, jdbcType=INTEGER}
        </if> 
        <if test="t.commentsAction != null ">  
            and c.COMMENTS_ACTION = #{t.commentsAction, jdbcType=INTEGER}
        </if>
        <if test="t.content !=null and t.content != '' ">
			and c.CONTENT like CONCAT('%',#{t.content, jdbcType=VARCHAR},'%') 
		</if>
		<if test="subjectId != null ">  
            and t.SUBJECT_ID = #{subjectId, jdbcType=INTEGER}
        </if>
        <if test="relationId != null ">  
            and c.ID = #{relationId, jdbcType=INTEGER} or c.PARENT_ID = #{relationId, jdbcType=INTEGER}
        </if>
   	</select>
    
  	<sql id="query_where_clause">
  		<trim prefix="where" prefixOverrides="and|or"> 
  			<if test="t.id !=null ">  
	            ID = #{t.id, jdbcType=INTEGER}
	        </if> 
	        <if test="t.status != null ">  
	            and STATUS = #{t.status, jdbcType=INTEGER}
	        </if> 
          	<if test="t.status == null and status != null ">  
	            and STATUS = #{status, jdbcType=INTEGER}
	        </if>
	        <if test="startGmtCreate != null and startGmtCreate != '' ">  
	            and <![CDATA[ GMT_CREATE >= date_format(#{startGmtCreate, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]>
	        </if>
	        <if test="endGmtCreate != null and endGmtCreate != '' ">  
	            and <![CDATA[ GMT_CREATE <= date_format(#{endGmtCreate, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]> 
	        </if>
	        <if test="startGmtModified != null and startGmtModified != '' ">  
	            and <![CDATA[ GMT_MODIFIED >= date_format(#{startGmtModified, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]>
	        </if>
	        <if test="endGmtModified != null and endGmtModified != '' ">  
	            and <![CDATA[ GMT_MODIFIED <= date_format(#{endGmtModified, jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')]]>
	        </if>
	        
	        <if test="t.userId != null ">  
	            and USER_ID = #{t.userId, jdbcType=INTEGER}
	        </if> 
	        <if test="t.name != null and t.name != '' ">  
	            and NAME = #{t.name, jdbcType=VARCHAR}
	        </if>
          	<if test="t.parentId != null ">  
	            and PARENT_ID = #{t.parentId, jdbcType=INTEGER}
	        </if>
	        <if test="t.topicId != null ">  
	            and TOPIC_ID = #{t.topicId, jdbcType=INTEGER}
	        </if> 
          	<if test="t.depth != null ">  
	            and DEPTH = #{t.depth, jdbcType=INTEGER}
	        </if>
	        <if test="t.isVote != null ">  
	            and IS_VOTE = #{t.isVote, jdbcType=INTEGER}
	        </if> 
          	<if test="t.isBan != null ">  
	            and IS_BAN = #{t.isBan, jdbcType=INTEGER}
	        </if>
	        <if test="t.commentType != null ">  
	            and COMMENT_TYPE = #{t.commentType, jdbcType=INTEGER}
	        </if> 
          	<if test="t.commentsAction != null ">  
	            and COMMENTS_ACTION = #{t.commentsAction, jdbcType=INTEGER}
	        </if>
	        <if test="t.content !=null and t.content != '' ">
				and CONTENT like CONCAT('%',#{t.content, jdbcType=VARCHAR},'%') 
			</if>
	    </trim> 
  	</sql>
  		
  	<sql id="update_where_clause">
		<trim prefix="where" prefixOverrides="and|or"> 
	        <if test="id !=null ">  
	            ID = #{id, jdbcType=INTEGER}
	        </if>
	        <if test="status !=null ">  
	            and STATUS = #{status, jdbcType=INTEGER}
	        </if> 
	        
	        <if test="t.userId != null ">  
	            and USER_ID = #{t.userId, jdbcType=INTEGER}
	        </if> 
	        <if test="t.name != null and t.name != '' ">  
	            and NAME = #{t.name, jdbcType=VARCHAR}
	        </if>
          	<if test="t.parentId != null ">  
	            and PARENT_ID = #{t.parentId, jdbcType=INTEGER}
	        </if>
	        <if test="t.topicId != null ">  
	            and TOPIC_ID = #{t.topicId, jdbcType=INTEGER}
	        </if> 
          	<if test="t.depth != null ">  
	            and DEPTH = #{t.depth, jdbcType=INTEGER}
	        </if>
	        <if test="t.isVote != null ">  
	            and IS_VOTE = #{t.isVote, jdbcType=INTEGER}
	        </if> 
          	<if test="t.isBan != null ">  
	            and IS_BAN = #{t.isBan, jdbcType=INTEGER}
	        </if>
	        <if test="t.commentType != null ">  
	            and COMMENT_TYPE = #{t.commentType, jdbcType=INTEGER}
	        </if> 
          	<if test="t.commentsAction != null ">  
	            and COMMENTS_ACTION = #{t.commentsAction, jdbcType=INTEGER}
	        </if>
	        <if test="t.content !=null and t.content != '' ">
				and CONTENT like CONCAT('%',#{t.content, jdbcType=VARCHAR},'%') 
			</if>
	    </trim>
   	</sql>
  		
  	<sql id="update_set_clause">
  		<trim prefix="set GMT_MODIFIED= now()," suffixOverrides=",">  
	        <if test="status !=null ">  
	            STATUS = #{status, jdbcType=INTEGER},
	        </if> 
	        
	        <if test="userId !=null ">  
	            USER_ID = #{userId, jdbcType=INTEGER},
	        </if>
	        <if test="parentId !=null ">  
	            PARENT_ID = #{parentId, jdbcType=INTEGER},
	        </if>
	        <if test="topicId !=null ">  
	            TOPIC_ID = #{topicId, jdbcType=INTEGER},
	        </if>
	        <if test="content != null and content != '' ">  
	            CONTENT = #{content, jdbcType=VARCHAR},
	        </if> 
	        <if test="depth !=null ">  
	            DEPTH = #{depth, jdbcType=INTEGER},
	        </if>
	        <if test="isVote !=null ">  
	            IS_VOTE = #{isVote, jdbcType=INTEGER},
	        </if>
	        <if test="isBan !=null ">  
	            IS_BAN = #{isBan, jdbcType=INTEGER},
	        </if>
	        <if test="score !=null ">  
	            SCORE = #{score, jdbcType=INTEGER},
	        </if>
	        <if test="ups !=null ">  
	            UPS = #{ups, jdbcType=INTEGER},
	        </if>
	        <if test="downs !=null ">  
	            DOWNS = #{downs, jdbcType=INTEGER},
	        </if>
	        <if test="commentType !=null ">  
	            COMMENT_TYPE = #{commentType, jdbcType=INTEGER},
	        </if>
	        <if test="closeIp != null and closeIp != '' ">  
	            CLOSE_IP = #{closeIp, jdbcType=VARCHAR},
	        </if> 
	        <if test="assentText != null and assentText != '' ">  
	            ASSENT_TEXT = #{assentText, jdbcType=VARCHAR},
	        </if>
	        <if test="commentsAction !=null ">  
	            COMMENTS_ACTION = #{commentsAction, jdbcType=INTEGER},
	        </if>
	        <if test="items !=null ">  
	            ITEMS = #{items, jdbcType=INTEGER},
	        </if>
	        <if test="name != null and name != '' ">  
	            NAME = #{name, jdbcType=VARCHAR}
	        </if>
   		</trim>
  	</sql>
  		
   	<select id="list" resultMap="BaseResultMap" parameterType="java.util.Map">
   		select  <include refid="columns" /> 
   		from <include refid="table_name" /> 
   		<include refid="orderby_clause"/>
	  	<if test="limitSize != null" >
	        <include refid="PAGINATION.MYSQL_PAGINATION" />
	    </if>
  	</select>
  	
  	<select id="listQuery" resultMap="BaseResultMap" parameterType="com.mmj.app.biz.query.CommentsQuery">
   		select  <include refid="columns" /> 
   		from <include refid="table_name" /> 
   		<include refid="query_where_clause"/>
   		<include refid="orderby_clause"/>
  	</select>
  
  	<select id="listPagination" resultMap="BaseResultMap" parameterType="com.mmj.app.biz.query.CommentsQuery">
		select <include refid="columns"/>
		from <include refid="table_name" /> 
		<include refid="query_where_clause"/>
		<if test="sortType !=null and sortType == 'GMT_MODIFIED' ">
			order by GMT_MODIFIED DESC
		</if>
        <if test="sortType !=null and sortType == 'GMT_CREATE' ">
			order by GMT_CREATE DESC
		</if>
		<include refid="PAGINATION.MYSQL_PAGINATION" />
  	</select>
  	
  	<select id="find" resultMap="BaseResultMap" parameterType="com.mmj.app.biz.query.CommentsQuery" >
  		select <include refid="columns"/>
        from <include refid="table_name" />
        <include refid="query_where_clause"/>
        <include refid="orderby_clause"/>
  	</select>
  	
   	<insert id="insert" parameterType="com.mmj.app.biz.domain.CommentsDO" useGeneratedKeys="true" keyProperty="id" keyColumn="ID" >
	   	insert into <include refid="table_name" /> (<include refid="table_columns_without_id"/>)
        values ( now(), now(), 0,
                #{userId,jdbcType=INTEGER},
                #{parentId,jdbcType=INTEGER},
                #{topicId,jdbcType=INTEGER},
                #{content,jdbcType=VARCHAR},
                #{depth,jdbcType=INTEGER},
                #{isVote,jdbcType=INTEGER},
                #{isBan,jdbcType=INTEGER},
                #{score,jdbcType=INTEGER},
                #{ups,jdbcType=INTEGER},
                #{downs,jdbcType=INTEGER},
                #{commentType,jdbcType=INTEGER},
                #{closeIp,jdbcType=VARCHAR},
                #{assentText,jdbcType=VARCHAR},
                #{commentsAction,jdbcType=INTEGER},
                #{items,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR}
        )
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT last_insert_id() as id
        </selectKey> 
   	</insert>
   	
   	<update id="update" parameterType="com.mmj.app.biz.domain.CommentsDO">
   		update <include refid="table_name" /> 
       	<include refid="update_set_clause"/>
       	<include refid="update_where_clause"/>
  	</update>
  	
  	<select id="count" resultType="java.lang.Integer" parameterType="com.mmj.app.biz.query.CommentsQuery">
  		select count(1)
        from <include refid="table_name" />  
       	<include refid="query_where_clause"/>
   	</select>
   	
  	<delete id="deleteById" parameterType="java.lang.Integer">
  		delete from <include refid="table_name" /> where ID = #{id,jdbcType=INTEGER}
  	</delete>
  	
  	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  		select <include refid="columns" /> 
  		from <include refid="table_name" /> 
  		where ID = #{id,jdbcType=INTEGER}
  	</select>
  
   	<update id="updateById" parameterType="com.mmj.app.biz.domain.CommentsDO">
   		update <include refid="table_name" /> 
   		<include refid="update_set_clause"/>
	    where ID = #{id,jdbcType=INTEGER}
  	</update>
</mapper>