<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
            http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
			http://www.springframework.org/schema/util 
			http://www.springframework.org/schema/util/spring-util-2.5.xsd 
            http://www.springframework.org/schema/context  
            http://www.springframework.org/schema/context/spring-context-4.0.xsd  
            http://www.springframework.org/schema/tx  
            http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
            http://www.springframework.org/schema/jdbc  
            http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd 
            http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
		
	<context:component-scan base-package="com.mmj.app.web.controller" >
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<bean id="mmjWebUserBuilderValve" 			class="com.mmj.app.web.webuser.MMJWebUserBuilderValve">
		<property name="checkUrl" 			value="true" />
		<property name="noPermissionUrl" 	value="/nopermission.htm" />
		<property name="loginUrl" 			value="/index.htm" />
		<property name="noCheckUrlLikeList">
		    <list>
	    		<value>/all/**</value>
	    		<value>/r/**</value>
	    		<value>/user/*/publish</value>
	    		<value>/user/*/liked</value>
	    		<value>/user/*/comments</value>
	    		<value>/help/*</value>
	    		<value>/link/*</value>
	    		<value>/link/*/comments/*</value>
		    </list>
		</property>
		<property name="noCheckUrlList">
		   <list>
		   		<value>/</value>
		   		<value>/index.htm</value>
		   		<value>/logout.htm</value>
	    		<value>/manage/login</value>
	    		<value>/manage/doLogin</value>
	    		<value>/manage/logout</value>
	    		
	    		<value>/nopermission.htm</value>
		   		<value>/register.htm</value>
		   		<value>/doRegister.htm</value>
		   		<value>/nopermissionAjax.htm</value>
		   		<value>/ajaxUpload.htm</value>
	    		<value>/404.htm</value>
	    		<value>/404.html</value>
	    		<value>/home.htm</value>
	    		
	    		<value>/profile/user/notexist</value>
	    		<value>/profile/email/notexist</value>
	    		<value>/passport/register.do</value>
	    		<value>/passport/login.do</value>
	    		<value>/passport/checkPhoneAbled</value>
	    		
	    		<value>/comments</value>
	    		<value>/suggestion.json</value>
	    		<value>/message/unread/count</value>
	    		<value>/letter/noread/count.do</value>
	    		<value>/profile/password/reset</value>
	    		<value>/passport/lostPwdEmail.do</value>
	    		<value>/passport/lostPwdSendEmail.do</value>
	    		<value>/checknewfeed</value>
	    		
	    		<value>/comet/handshake</value>
	    		<value>/comet/</value>
	    		<value>/comet/connect</value>
	    		
	    		<value>/update.jsp</value>
	    		<value>/blank.html</value>
	    		<value>/crossdomain.xml</value>
	    		<value>/link/cityCode.do</value>
	    		
	    		<value>/feedback</value>
	    		<value>/gozapIdentifyCode</value>
	    		<value>/passport/valAccessCode.do</value>
	    		<value>/feedback/create</value>
	    		<value>/feedback/success</value>
	    		
	    		<value>/link/clickcount/update</value>
	    		<value>/share/site/stat</value>
	    		
	    		<value>/search/show</value>
	    		<value>/search/user/show</value>
	    		
	    		<value>/link/pic/upload</value>
	    		<value>/ajaxUpload.htm</value>
		   </list>
		</property>
	</bean>
	<bean id="cookieSaveValue"              			class="com.mmj.app.common.pipeline.value.CookieSaveValue"/>
	
	<bean id="preHandlePipelineHandlers" 		class="com.mmj.app.common.pipeline.PipelineValvesMapper">
        <constructor-arg value="mmjWebUserBuilderValve" type="java.lang.String" />
        <constructor-arg ref="mmjWebUserBuilderValve"/>
	</bean>
	<bean id="afterCompletionPipelineHandlers" 	class="com.mmj.app.common.pipeline.PipelineValvesMapper">
		<constructor-arg value="cookieSaveValue" type="java.lang.String" />
        <constructor-arg ref="cookieSaveValue"/>
	</bean>
	
	<util:list id="preHandlePipelineValves" list-class="java.util.ArrayList">
       <ref bean="preHandlePipelineHandlers"/>
   	</util:list>
   	<util:list id="afterCompletionPipelineValves" list-class="java.util.ArrayList">
       <ref bean="afterCompletionPipelineHandlers"/>
   	</util:list> 
   	
   	<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" >
   		<mvc:argument-resolvers>  
           <bean class="com.mmj.app.common.component.FormModelMethodArgumentResolver"/>  
        </mvc:argument-resolvers>
   	</mvc:annotation-driven>
   	
   	<mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" />  
		<mvc:interceptors>
		    <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
		    <mvc:interceptor>
		        <mvc:mapping path="/**"/>
		        <bean class="com.mmj.app.common.interceptor.PipelineHandlerInterceptor" init-method="init"/>
		    </mvc:interceptor>
		</mvc:interceptors>
		<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">   
		    <property name="favorPathExtension" value="false" />  
		    <property name="favorParameter" value="false" />   
		    <property name="ignoreAcceptHeader" value="false" />   
		    <property name="mediaTypes" >   
		        <value>  
		            atom=application/atom+xml  
		            html=text/html  
		            json=application/json  
		            *=*/*  
		        </value>   
		    </property>  
		    <property name="defaultContentType" value="text/html"/>
		</bean>
	 <mvc:annotation-driven/>
   	
	 <bean name="velocityConfig"		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/template/"/> 
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<prop key="resource.loader">file</prop>
				<prop key="directive.set.null.allowed">true</prop>
				<prop key="directive.if.tostring.nullcheck">false</prop>
				<prop key="file.resource.loader.cache">false</prop>
				
				<prop key="directive.set.null.allowed">true</prop>
				<prop key="directive.if.tostring.nullcheck">false</prop>
				<prop key="velocimacro.library">common/securitymacro.vm</prop>
				<prop key="resource.manager.class">com.mmj.app.common.core.VelocityResourceManagerImpl</prop>
				
				<prop key="runtime.log.logsystem.class">org.apache.velocity.runtime.log.AvalonLogChute,org.apache.velocity.runtime.log.Log4JLogChute,org.apache.velocity.runtime.log.CommonsLogLogChute,org.apache.velocity.runtime.log.ServletLogChute,org.apache.velocity.runtime.log.JdkLogChute</prop>  
                <prop key="runtime.log">velocity.log</prop>
                <prop key="runtime.log.error.stacktrace">true</prop>  
                <prop key="runtime.log.warn.stacktrace">true</prop>  
                <prop key="runtime.log.info.stacktrace">false</prop>  
                <prop key="runtime.log.invalid.reference">true</prop>
                
			</props>
		</property>
	</bean>
	
	<bean id="viewResolver" 		class="com.mmj.app.common.velocity.CustomVelocityLayoutViewResolver">
		<property name="contentType" 			value="text/html;charset=UTF-8" />
	    <property name="cache" 					value="false" /> <!-- 开发 不设置缓存 -->
		<property name="suffix" 				value=".vm" />
		<property name="screenContentKey" 		value="body" />
	</bean>
	
	<bean id="dateViewTools" 	    			class="com.mmj.app.common.util.DateViewTools"/>
	<bean id="systemInfo" 						class="com.mmj.app.web.tools.SystemInfos"/>
	<bean id="currencyFormattor" 				class="com.mmj.app.common.util.CurrencyFormatter"/>
	<bean id="format"							class="com.mmj.app.common.util.StringFormatter"/>
	<bean id="enumViewTools"					class="com.mmj.app.web.tools.EnumViewTools"/>
	<bean id="webUser" 	    					class="com.mmj.app.web.tools.WebUserTools"/>
	<bean id="topBandViewTools"				class="com.mmj.app.web.tools.TopBandViewTools"/>
	
	<bean class="com.mmj.app.common.velocity.ViewToolsFactory">
		<property name="viewTools">
			<map>
				<entry key="dateViewTools"  		value-ref="dateViewTools" />
				<entry key="currencyFormattor"  	value-ref="currencyFormattor" />
				<entry key="systemInfo"  			value-ref="systemInfo" />
				<entry key="format"  				value-ref="format" />
				<entry key="enumViewTools"  		value-ref="enumViewTools" />
				<entry key="webUser"  				value-ref="webUser" />
				<entry key="topBandViewTools"  		value-ref="topBandViewTools" />
			</map>
		</property>
	</bean>
</beans>